BasedOnStyle: Google
Language: Cpp
Standard: c++20
ColumnLimit: 100
IndentWidth: 2
TabWidth: 2
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false